<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>bulma</string>
	<key>CFBundleName</key>
	<string>Bulma</string>
	<key>DocSetPlatformFamily</key>
	<string>bulma</string>
	<key>isDashDocset</key>
	<true/>
	<key>DashDocSetFamily</key>
	<string>dashtoc</string>
	<key>dashIndexFilePath</key>
	<string>./html/bulma.io/documentation/overview/index.html</string>
	<key>isJavaScriptEnabled</key><false/>
</dict>
</plist>
