  <?xml version="1.0" encoding="UTF-8"?>
  <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
  <plist version="1.0">
  <dict>
          <key>CFBundleIdentifier</key>
          <string>springreactive</string>
          <key>CFBundleName</key>
          <string>springreactive</string>
          <key>DashDocSetFamily</key>
          <string>springreactive</string>
          <key>DocSetPlatformFamily</key>
          <string>springreactive</string>
          <key>isDashDocset</key>
          <true/>
          <key>isJavaScriptEnabled</key>
          <true/>
          <key>dashIndexFilePath</key>
          <string>/docs.spring.io/spring/docs/current/spring-framework-reference/web-reactive.html</string>
  </dict>
  </plist>
